.overlay {
    margin: 0px;
    background-color: #101010;

    width: 100vw;
    height: 72px;
    box-shadow: black 0px 0px 20px;
}

.waitText {
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;

    margin: 0;
    font-size: 45px;
    text-align: center;

    transition: opacity 0.25s ease-out;
}

.player1 {
    position: absolute;
    top: -72px;
    left: 12px;
    right: 12px;

    margin: 0;
    font-size: 45px;
    text-align: left;

    transition: opacity 0.25s ease-out, top 0.25s ease-in;
}

.player2 {
    position: absolute;
    top: -72px;
    left: 12px;
    right: 12px;

    margin: 0;
    font-size: 45px;
    text-align: right;

    transition: opacity 0.25s ease-out, top 0.25s ease-in;
}
