:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #00000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}

.overlay {
    margin: 0px;
    background-color: #101010;

    width: 100vw;
    height: 72px;
    box-shadow: black 0px 0px 20px;
}

.songDialog {
    margin: 0px;
    background-color: #101010;
    position: fixed;
    bottom: -75px;
    left: 50vw;

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    width: fit-content;
    height: 72px;
    box-shadow: black 0px 0px 20px;

    transition: bottom 0.25s ease-in;

    transform: translate(-50%, 0px);
}

.difficultyDialog {
    margin: 0px;
    background-color: #101010;
    position: absolute;
    bottom: 90px;
    left: 50vw;

    border-radius: 16px;

    width: fit-content;
    height: fit-content;
    box-shadow: black 0px 0px 20px;

    transition: opacity 0.25s ease-out;

    transform: translate(-50%, 0px);
}

.songText {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 38px;
}

.difficultyText {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 6px;
    font-size: 32px;
}

.waitText {
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;

    margin: 0;
    font-size: 45px;

    transition: opacity 0.25s ease-out;
}

.player1 {
    position: absolute;
    top: -72px;
    left: 12px;
    right: 12px;

    margin: 0;
    font-size: 45px;
    text-align: left;

    transition: opacity 0.25s ease-out, top 0.25s ease-in;
}

.player2 {
    position: absolute;
    top: -72px;
    left: 12px;
    right: 12px;

    margin: 0;
    font-size: 45px;
    text-align: right;

    transition: opacity 0.25s ease-out, top 0.25s ease-in;
}

.scoreLeader {
    position: fixed;

    top: 72px;
    height: 10px;
    width: 100vw;
    left: 50vw;

    transform: translate(-50%, 0px);
    background-color: #dddddd55;
    z-index: -1;

    transition: top 0.25s ease-in-out;
}

.scoreLeaderBar1 {
    position: fixed;

    top: 0px;
    height: 10px;
    right: 50vw;
    width: 0px;

    background-color: #ff0000;
    box-shadow: #ff0000 0px 0px 20px;
    z-index: -1;

    transition: width 0.25s ease-in-out;
}

.scoreLeaderBar2 {
    position: fixed;

    top: 0px;
    height: 10px;
    left: 50vw;
    width: 0px;

    background-color: #0000ff;
    box-shadow: #0000ff 0px 0px 20px;
    z-index: -1;

    transition: width 0.25s ease-in-out;
}

.playerScoreBase {
    position: fixed;

    bottom: -124px;

    margin: 0px;
    background-color: #101010;

    border-radius: 16px;

    width: fit-content;
    height: fit-content;
    box-shadow: black 0px 0px 20px;

    transition: bottom 0.25s ease-in;
}

.playerScoreLeft {
    left: 12px;

    text-align: left;
}

.playerScoreRight {
    right: 12px;

    text-align: right;
}

.playerScoreText {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 38px;
}

@keyframes breathe {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.85;
    }
    100% {
        opacity: 1;
    }
}
